<?xml version="1.0" encoding="UTF-8"?>
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    <menucontrol>9051</menucontrol>
    <onunload condition="System.HasAddon(script.colorbox)">RunScript(script.colorbox,daemon=True)</onunload>
    <controls>
        <control type="group">
            <include>WindowOpenCloseAnimation</include>
            <!-- Pnel tło -->
            <control type="image">
                <width>1920</width>
                <height>1080</height>
                <texture colordiffuse="0DE8E8E8">special://skin/backgrounds/ce_bg.jpg</texture>
            </control>
            <control type="label">
                <left>900</left>
                <top>-1030</top>
                <width>280</width>
                <font>Lirabiefont_Rg31</font>
                <label>[B]$INFO[System.Time(hh:mm)][/B]</label>
                <shadow>red</shadow>
            </control>
        </control>
        <control type="group" id="50">
            <top>59</top>
            <include>WindowOpenCloseAnimation</include>
            <control type="panel" id="9000">
                <visible>!Skin.HasSetting(Enable.ColoredIcon)</visible>
                <left>80</left>
                <top>12</top>
                <width>1850</width>
                <height>1120</height>
                <onup>9000</onup>
                <ondown>9000</ondown>
                <pagecontrol>61</pagecontrol>
                <scrolltime tween="quadratic">0</scrolltime>
                <!-- po najechaniu -->
                <focusedlayout width="300" height="360" condition="Integer.IsLessOrEqual(Container(50).NumItems,10)">
                    <control type="group">
                        <animation effect="zoom" center="100,100" start="95" end="100" time="420" tween="sine" reversible="false">Focus</animation>
                        <!-- Podstawka /obrazek pod ikonami /  -->
                        <control type="image">
                            <left>-12</left>
                            <top>-20</top>
                            <width>260</width>
                            <height>260</height>
                            <texture>media/buttons_settings.png</texture>
                            <align>center</align>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <control type="image">
                            <left>-12</left>
                            <top>-20</top>
                            <width>260</width>
                            <height>260</height>
                            <fadetime>0</fadetime>
                            <texture colordiffuse="gold">media/buttons_settings.png</texture>
                            <align>center</align>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <!-- Podstawka /obrazek pod ikonami /  -->
                        <control type="image">
                            <left>-6</left>
                            <top>-12</top>
                            <width>250</width>
                            <height>250</height>
                            <texture colordiffuse="white">$INFO[ListItem.Icon]</texture>
                            <align>center</align>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <control type="label">
                            <top>210</top>
                            <width>240</width>
                            <height>90</height>
                            <font>Lirabiefont_Rg31</font>
                            <label>[B]$INFO[ListItem.Label][/B]</label>
                            <align>center</align>
                            <textcolor>$VAR[HighlightBarColor]</textcolor>
                            <shadowcolor>red</shadowcolor>
                        </control>
                    </control>
                </focusedlayout>
                <!-- po najechaniu -->
                <itemlayout width="300" height="360" condition="Integer.IsGreater(Container(9000).NumItems,10)">
                    <control type="image">
                        <left>-12</left>
                        <top>-20</top>
                        <width>270</width>
                        <height>270</height>
                        <texture colordiffuse="gold">media/buttons_settings.png</texture>
                        <align>center</align>
                        <aspectratio>scale</aspectratio>
                    </control>
                    <control type="image">
                        <left>-12</left>
                        <top>-20</top>
                        <width>270</width>
                        <height>270</height>
                        <texture>media/buttons_settings.png</texture>
                        <bordersize>7</bordersize>
                        <fadetime>0</fadetime>
                        <align>center</align>
                        <aspectratio>scale</aspectratio>
                    </control>
                    <control type="image">
                        <left>-6</left>
                        <top>-12</top>
                        <width>260</width>
                        <height>260</height>
                        <texture colordiffuse="grey">$INFO[ListItem.Icon]</texture>
                        <align>center</align>
                        <aspectratio>scale</aspectratio>
                    </control>
                    <control type="label">
                        <top>210</top>
                        <width>240</width>
                        <height>90</height>
                        <font>Lirabiefont_Rg31</font>
                        <label>[B]$INFO[ListItem.Label][/B]</label>
                        <align>center</align>
                        <textcolor>FF808080</textcolor>
                        <shadowcolor>white</shadowcolor>
                    </control>
                </itemlayout>
                <content>
                    <visible>!Skin.HasSetting(ColoredIcon)</visible>
                    <item>
                        <label>14206</label>
                        <property name="description">31400</property>
                        <onclick>ActivateWindow(InterfaceSettings)</onclick>
                        <icon>views/settings/interface.png</icon>
                    </item>
                    <item>
                        <label>14200</label>
                        <property name="description">31401</property>
                        <onclick>ActivateWindow(PlayerSettings)</onclick>
                        <icon>views/settings/player.png</icon>
                    </item>
                    <item>
                        <label>14211</label>
                        <property name="description">31402</property>
                        <onclick>ActivateWindow(MediaSettings)</onclick>
                        <icon>views/settings/media.png</icon>
                    </item>
                    <item>
                        <label>24001</label>
                        <property name="description">31448</property>
                        <onclick>ActivateWindow(addonbrowser)</onclick>
                        <icon>views/settings/addons.png</icon>
                    </item>
                    <item>
                        <label>31502</label>
                        <property name="description">31409</property>
                        <onclick>ActivateWindow(PVRSettings)</onclick>
                        <icon>views/settings/pvr.png</icon>
                    </item>
                    <item>
                        <label>15016</label>
                        <property name="description">31441</property>
                        <onclick>ActivateWindow(GameSettings)</onclick>
                        <icon>views/settings/games.png</icon>
                    </item>
                    <item>
                        <label>13200</label>
                        <property name="description">31407</property>
                        <onclick>ActivateWindow(Profiles)</onclick>
                        <icon>views/settings/profiles.png</icon>
                    </item>
                    <item>
                        <label>14036</label>
                        <property name="description">31410</property>
                        <onclick>ActivateWindow(ServiceSettings)</onclick>
                        <icon>views/settings/service.png</icon>
                    </item>
                    <item>
                        <label>13000</label>
                        <property name="description">31406</property>
                        <onclick>ActivateWindow(SystemSettings)</onclick>
                        <icon>views/settings/system.png</icon>
                    </item>
                    <item>
                        <label>10511</label>
                        <property name="description">31405</property>
                        <onclick>ActivateWindow(SystemInfo)</onclick>
                        <icon>views/settings/systeminfo.png</icon>
                    </item>
                    <item>
                        <label>File Manager</label>
                        <property name="description">31318</property>
                        <onclick>ActivateWindow(10003)</onclick>
                        <icon>views/settings/File_Manager.png</icon>
                    </item>
                    <item>
                        <label>Open VPN</label>
                        <property name="description">31490</property>
                        <onclick>RunAddon(service.vpn.manager)</onclick>
                        <icon>views/settings/vpn.png</icon>
                        <onclick condition="!System.HasAddon(service.vpn.manager)">InstallAddon(service.vpn.manager)</onclick>
                    </item>
                    <item>
                        <label>IPTV RECORD</label>
                        <property name="description">314901</property>
                        <icon>views/settings/IPTV_REC.png</icon>
                        <onclick>RunAddon(plugin.video.iptv.recorder)</onclick>
                        <onclick condition="!System.HasAddon(plugin.video.iptv.recorder)">InstallAddon(plugin.video.iptv.recorder)</onclick>
                    </item>
                    <item>
                        <label>Aktualizacje</label>
                        <property name="description">Aktualizacje skina, poprawki, i inne</property>
                        <onclick>RunAddon(script.kimskine2updater)</onclick>
                        <icon>views/settings/aktualizacja.png</icon>
                        <onclick condition="!System.HasAddon(script.kimskine2updater)">InstallAddon(script.kimskine2updater)</onclick>
                    </item>
                    <item>
                        <label>Skin Reset</label>
                        <width>250</width>
                        <height>250</height>
                        <property name="description">Przywraca wszystkie ustawienia skóry do ustawień domyślnych</property>
                        <onclick>SetProperty(ResetSkinSettings,True,Home)</onclick>
                        <onclick>ActivateWindow(1126)</onclick>
                        <icon>views/settings/resetskin.png</icon>
                    </item>
                    <item>
                        <label>Panel Ustawień</label>
                        <width>250</width>
                        <height>250</height>
                        <property name="description">All in One panel z wieloma udogodnieniami</property>
                        <onclick>ActivateWindow(1101)</onclick>
                        <icon>views/settings/Kim_Repo.png</icon>
                    </item>
                    <item>
                        <label>LibreELEC</label>
                        <property name="description">31318</property>
                        <onclick>RunAddon(service.libreelec.settings)</onclick>
                        <icon>views/settings/libreelec.png</icon>
                    </item>
                    <item>
                        <label>CoreELEC</label>
                        <property name="description">31490</property>
                        <onclick>RunAddon(service.coreelec.settings)</onclick>
                        <icon>views/settings/coreelec.png</icon>>
                    </item>
                </content>
            </control>
            <control type="panel" id="9000">
                <visible>Skin.HasSetting(Enable.ColoredIcon)</visible>
                <left>80</left>
                <top>12</top>
                <width>1850</width>
                <height>1120</height>
                <onup>9000</onup>
                <ondown>9000</ondown>
                <pagecontrol>61</pagecontrol>
                <scrolltime tween="quadratic">0</scrolltime>
                <!-- po najechaniu -->
                <focusedlayout width="300" height="360" condition="Integer.IsLessOrEqual(Container(50).NumItems,10)">
                    <control type="group">
                        <animation effect="zoom" center="100,100" start="95" end="100" time="420" tween="sine" reversible="false">Focus</animation>
                        <!-- Podstawka /obrazek pod ikonami /  -->
                        <control type="image">
                            <left>-12</left>
                            <top>-20</top>
                            <width>260</width>
                            <height>260</height>
                            <texture>media/buttons_settings.png</texture>
                            <align>center</align>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <control type="image">
                            <left>-12</left>
                            <top>-20</top>
                            <width>260</width>
                            <height>260</height>
                            <fadetime>0</fadetime>
                            <texture colordiffuse="gold">media/buttons_settings.png</texture>
                            <align>center</align>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <!-- Podstawka /obrazek pod ikonami /  -->
                        <control type="image">
                            <left>-6</left>
                            <top>-12</top>
                            <width>250</width>
                            <height>250</height>
                            <texture colordiffuse="white">$INFO[ListItem.Icon]</texture>
                            <align>center</align>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <control type="label">
                            <top>210</top>
                            <width>240</width>
                            <height>90</height>
                            <font>Lirabiefont_Rg31</font>
                            <label>[B]$INFO[ListItem.Label][/B]</label>
                            <align>center</align>
                            <textcolor>$VAR[HighlightBarColor]</textcolor>
                            <shadowcolor>red</shadowcolor>
                        </control>
                    </control>
                </focusedlayout>
                <!-- po najechaniu -->
                <itemlayout width="300" height="360" condition="Integer.IsGreater(Container(9000).NumItems,10)">
                    <control type="image">
                        <left>-12</left>
                        <top>-20</top>
                        <width>270</width>
                        <height>270</height>
                        <texture colordiffuse="gold">media/buttons_settings.png</texture>
                        <align>center</align>
                        <aspectratio>scale</aspectratio>
                    </control>
                    <control type="image">
                        <left>-12</left>
                        <top>-20</top>
                        <width>270</width>
                        <height>270</height>
                        <texture>media/buttons_settings.png</texture>
                        <bordersize>7</bordersize>
                        <fadetime>0</fadetime>
                        <align>center</align>
                        <aspectratio>scale</aspectratio>
                    </control>
                    <control type="image">
                        <left>-6</left>
                        <top>-12</top>
                        <width>260</width>
                        <height>260</height>
                        <texture colordiffuse="grey">$INFO[ListItem.Icon]</texture>
                        <align>center</align>
                        <aspectratio>scale</aspectratio>
                    </control>
                    <control type="label">
                        <top>210</top>
                        <width>240</width>
                        <height>90</height>
                        <font>Lirabiefont_Rg31</font>
                        <label>[B]$INFO[ListItem.Label][/B]</label>
                        <align>center</align>
                        <textcolor>FF808080</textcolor>
                        <shadowcolor>white</shadowcolor>
                    </control>
                </itemlayout>
                <content>
                    <item>
                        <label>14206</label>
                        <property name="description">31400</property>
                        <onclick>ActivateWindow(InterfaceSettings)</onclick>
                        <icon>views/settings/colored/interface.png</icon>
                    </item>
                    <item>
                        <label>14200</label>
                        <property name="description">31401</property>
                        <onclick>ActivateWindow(PlayerSettings)</onclick>
                        <icon>views/settings/colored/player.png</icon>
                    </item>
                    <item>
                        <label>14211</label>
                        <property name="description">31402</property>
                        <onclick>ActivateWindow(MediaSettings)</onclick>
                        <icon>views/settings/colored/media.png</icon>
                    </item>
                    <item>
                        <label>24001</label>
                        <property name="description">31448</property>
                        <onclick>ActivateWindow(addonbrowser)</onclick>
                        <icon>views/settings/colored/addons.png</icon>
                    </item>
                    <item>
                        <label>31502</label>
                        <property name="description">31409</property>
                        <onclick>ActivateWindow(PVRSettings)</onclick>
                        <icon>views/settings/colored/pvr.png</icon>
                    </item>
                    <item>
                        <label>15016</label>
                        <property name="description">31441</property>
                        <onclick>ActivateWindow(GameSettings)</onclick>
                        <icon>views/settings/colored/games.png</icon>
                    </item>
                    <item>
                        <label>13200</label>
                        <property name="description">31407</property>
                        <onclick>ActivateWindow(Profiles)</onclick>
                        <icon>views/settings/colored/profiles.png</icon>
                    </item>
                    <item>
                        <label>14036</label>
                        <property name="description">31410</property>
                        <onclick>ActivateWindow(ServiceSettings)</onclick>
                        <icon>views/settings/colored/service.png</icon>
                    </item>
                    <item>
                        <label>13000</label>
                        <property name="description">31406</property>
                        <onclick>ActivateWindow(SystemSettings)</onclick>
                        <icon>views/settings/colored/system.png</icon>
                    </item>
                    <item>
                        <label>10511</label>
                        <property name="description">31405</property>
                        <onclick>ActivateWindow(SystemInfo)</onclick>
                        <icon>views/settings/colored/systeminfo.png</icon>
                    </item>
                    <item>
                        <label>File Manager</label>
                        <property name="description">31318</property>
                        <onclick>ActivateWindow(10003)</onclick>
                        <icon>views/settings/colored/File_Manager.png</icon>
                    </item>
                    <item>
                        <label>Open VPN</label>
                        <property name="description">31490</property>
                        <onclick>RunAddon(service.vpn.manager)</onclick>
                        <icon>views/settings/colored/vpn.png</icon>
                        <onclick condition="!System.HasAddon(service.vpn.manager)">InstallAddon(service.vpn.manager)</onclick>
                    </item>
                    <item>
                        <label>IPTV RECORD</label>
                        <property name="description">314901</property>
                        <icon>views/settings/colored/IPTV_REC.png</icon>
                        <onclick>RunAddon(plugin.video.iptv.recorder)</onclick>
                        <onclick condition="!System.HasAddon(plugin.video.iptv.recorder)">InstallAddon(plugin.video.iptv.recorder)</onclick>
                    </item>
                    <item>
                        <label>Aktualizacje</label>
                        <property name="description">Aktualizacje skina, poprawki, i inne</property>
                        <onclick>RunAddon(script.kimskine2updater)</onclick>
                        <icon>views/settings/colored/aktualizacja.png</icon>
                        <onclick condition="!System.HasAddon(script.kimskine2updater)">InstallAddon(script.kimskine2updater)</onclick>
                    </item>
                    <item>
                        <label>Skin Reset</label>
                        <width>250</width>
                        <height>250</height>
                        <property name="description">Przywraca wszystkie ustawienia skóry do ustawień domyślnych</property>
                        <onclick>SetProperty(ResetSkinSettings,True,Home)</onclick>
                        <onclick>ActivateWindow(1126)</onclick>
                        <icon>views/settings/colored/resetskin.png</icon>
                    </item>
                    <item>
                        <label>Panel Ustawień</label>
                        <width>250</width>
                        <height>250</height>
                        <property name="description">All in One panel z wieloma udogodnieniami</property>
                        <onclick>ActivateWindow(1101)</onclick>
                        <icon>views/settings/colored/Kim_Repo.png</icon>
                    </item>
                    <item>
                        <label>LibreELEC</label>
                        <property name="description">31318</property>
                        <onclick>RunAddon(service.libreelec.settings)</onclick>
                        <icon>views/settings/colored/libreelec.png</icon>
                    </item>
                    <item>
                        <label>CoreELEC</label>
                        <property name="description">31490</property>
                        <onclick>RunAddon(service.coreelec.settings)</onclick>
                        <icon>views/settings/colored/coreelec.png</icon>>
                    </item>
                </content>
            </control>
            <control type="image">
                <left>1844</left>
                <top>-7</top>
                <width>1.3</width>
                <height>100</height>
                <texture colordiffuse="$VAR[ThemePanelColor]" border="1">new_pvr/osd_line_white_r.png</texture>
            </control>
            <control type="image">
                <left>1844</left>
                <top>585</top>
                <width>1.3</width>
                <height>200</height>
                <texture colordiffuse="$VAR[ThemePanelColor]" border="1">new_pvr/osd_line_white_r.png</texture>
            </control>
            <control type="image">
                <left>75</left>
                <top>225</top>
                <width>1.3</width>
                <height>200</height>
                <texture colordiffuse="$VAR[ThemePanelColor]" border="1">new_pvr/osd_line_white_r.png</texture>
            </control>
            <control type="image">
                <left>75</left>
                <top>915</top>
                <width>1.3</width>
                <height>100</height>
                <texture colordiffuse="$VAR[ThemePanelColor]" border="1">new_pvr/osd_line_white_r.png</texture>
            </control>
            <control type="image">
                <left>75</left>
                <top>-7</top>
                <width>1770</width>
                <height>1.3</height>
                <texture colordiffuse="$VAR[ThemePanelColor]" border="1">new_pvr/osd_line_white.png</texture>
            </control>
            <control type="image">
                <left>75</left>
                <top>325</top>
                <width>1770</width>
                <height>1.3</height>
                <texture colordiffuse="$VAR[ThemePanelColor]" border="1">new_pvr/osd_line_white.png</texture>
            </control>
            <control type="image">
                <left>75</left>
                <top>685</top>
                <width>1770</width>
                <height>1.3</height>
                <texture colordiffuse="$VAR[ThemePanelColor]" border="1">new_pvr/osd_line_white.png</texture>
            </control>
            <control type="image">
                <left>75</left>
                <top>1015</top>
                <width>1770</width>
                <height>1.3</height>
                <texture colordiffuse="$VAR[ThemePanelColor]" border="1">new_pvr/osd_line_white.png</texture>
            </control>
        </control>
        <include>Topbar</include>
    </controls>
</window>